
<launch>
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" /> 

  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />

  <arg name="pointcloud" default="True" />
  <arg name="laserscan" default="False" />
  <node pkg="pepper_sensors_py" type="laser.py" name="pepper_laser" required="true" args="--pip=$(arg nao_ip) --pport=$(arg nao_port) " output="screen">

  </node>

</launch>
