<launch>
  <!-- Use CPP node by default for nao_sensors -->
  <arg name="force_python" default="true" />
  <include file="$(find pepper_description)/launch/pepper_publisher.launch" />

  <!-- nao driver works for pepper -->
  <include file="$(find naoqi_driver)/launch/naoqi_driver.launch">
    <arg name="force_python" value="$(arg force_python)" />
  </include>

  <include file="$(find pepper_sensors)/launch/sonar.launch" />
  <include file="$(find pepper_sensors)/launch/laser.launch" />
  <include file="$(find pepper_navigation)/launch/navigation.launch" />
  <include file="$(find pepper_sensors)/launch/camera.launch" ns="camera/depth" >
    <arg name="source" value="2" />
    <arg name="color_space" value="17" />
    <arg name="resolution" value="1" />
  </include>
  <include file="$(find pepper_sensors)/launch/camera.launch" ns="camera/front" >
    <arg name="source" value="0" />
    <arg name="color_space" value="13" />
  </include>

</launch>
