<!-- roslaunch file to start view an URDF model in rviz.
      Adapted from urdf_tutorial/display.launch -->
<launch>
  <arg name="model" />
  <arg name="gui" default="true" />
  <arg name="version" default="1.0"/>

  <include file="$(find pepper_description)/launch/pepper_publisher.launch">
    <arg name="version" value="$(arg version)"/>
  </include>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node name="rviz" pkg="rviz" type="rviz" args="-f torso -d $(find pepper_description)/config/urdf.rviz" />
</launch>
